<% layout('layout/boilerplate.ejs') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div  class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" value="<%= campground.title %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url </label>
                    <input class="form-control" type="text" name="campground[image]" id="image" value="<%= campground.image %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="price-label">$</span>
                        </div>
                        <input type="number" id="price" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"><%= campground.description %></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Edit Campground</button>
                </div>
                
            </form>
        </div>
    </div>

