<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp | <%= category.title %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- footer css
    <link rel="stylesheet" href="css/footer.css"> -->

    <!-- Star review css -->
    <link rel="stylesheet" href="/css/stars.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Poppins&display=swap" rel="stylesheet">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



    <style>
        body {
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            z-index: 0;
        }
    </style>
</head>

<body>
    <%- include('../partials/navbar') %>
        <main class="container">

            <h1 class="display-6 mt-4 mb-4">
                <%= category.title %> Sites
            </h1>


            <% for( let campground of campgrounds ) { %>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <% if (campground.image.length) { %>
                                <img class="img-fluid" src="<%= campground.image[0].index %>" alt="">
                                <% } else { %>
                                    <img src="/img/Camping Vector Illustration.png" alt="">
                                    <% } %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= campground.title %>
                                </h5>
                                <p class="card-text">
                                    <%= campground.description %>
                                </p>
                                <p class="card-text"><small class="text-muted">
                                        <%= campground.location %>
                                    </small></p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-dark">View <%=
                                        campground.title %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </main>

        <!-- Bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>